
/* Tablet Landscape max-width: 1200px */
@media only screen and (max-width: 75em) {
    
} 


/* Tablet Portrait max-width: 900px */
@media only screen and (max-width: 56.25em) {
    
    
    
/* 
    .grid {
        max-width: 90rem;
    }
    .grid__item {
        width: 50%;
    } */

}

/*Small Phones max-width: 600px */
@media only screen and (max-width: 37.5em) {
    /* html {font-size: 50%;}
    .grid {
        max-width: 37rem;
    }
    .grid__item {
        width: 100%;
    } */
}



/*Small Phones max-width: 480px */
@media only screen and (max-width: 30em) {}