

/*
COLORS:
//$color-gray-blue:#becbde;
//$color-purple:#543FBC;
*/



//bg

$color-gray-blue:#b6c6df;
$color-blue:#acc3e4;
$color-blue-light: #d9e8fe;

//
$color-blue-med-1: #677dc4;
$color-blue-med-2: #5467b6;


$color-purple: #5050ce;
$color-purple-light:#d6daff;
$color-purple-med: #5669d4;

//neutral
$color-gray: #676778;
$color-white: #fff;
$color-white-2: #edf2f7;
$color-black : #222227;

//tablet screen
$color-purple-1: #5b47a4;
$color-purple-2: #4641a2;
$color-green: #4be2ad;