.header {
    position: relative;
    height: 650px;
    // background-size: contain;
    // background-position : right 0 bottom 7rem;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    overflow: hidden;
    // background-color:rgba(red,0.3);
    &__logoBox {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    &__back {
        position: absolute;
        bottom: -8rem;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to bottom,
            rgba($color-white, 1),
            rgba($color-primary-dark,0.1)),
            url(../img/back-lavender.png);
        background-position : 50% 100%;
        // background-color:rgba(pink,0.55);
    }
    &__fore {
        position: absolute;
        bottom: -11rem;
        height: 100%;  
        width: 100%;
        background-repeat: repeat-x;
        background-image: url(../img/fore-lavender.png);
        background-position : 50% 100%;
        // background-color:rgba(green,0.55);
    }
}