/* Tablet Landscape max-width: 1200px */
@media only screen and (max-width: 75em) {
    .milestones__box {margin: 1.5rem 3rem 1.5rem 3rem;}
} 

/* Tablet Portrait max-width: 900px  1rem = 9px*/
@media only screen and (max-width: 56.25em) {
    html {font-size: 56.25%;}
    .milestones__box {margin: 1.5rem 2rem 1.5rem 2rem;}
}

/*Small Phones max-width: 768px 1rem = 9px */
@media only screen and (max-width: 48em) {
    html {font-size: 50%;} 
    .nav__logoBox {
        display: block;
        margin-right: 5rem;
    }
    .nav__menu li:not(:last-child){
        margin-right: 0.5rem;
    }

    .milestones__row {
        display: block;
    }

    .milestones__box {margin: 3rem auto;}
}

/*Small Phones max-width: 600px 1rem = 8px*/
@media only screen and (max-width: 37.5em) {
    .heading-primary {
        margin-top: 6rem;
        font-size: 4.2rem;
    }
    .heading-sub {
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .warning__msg {
        max-width: 80%;
        line-height: 2rem;
    }
    .warning__close {
        font-size: 3rem;
        position: absolute;
        top : 0;
        right: 1rem;
    }
}
    
/*Small Phones max-width: 480px */
@media only screen and (max-width: 30em) {
    .heading-primary {
        font-size: 3.6rem;
        margin: 10rem 1rem 1.5rem 1rem;
        letter-spacing: 0.1rem;
    }
    .heading-sub {
        margin: 2rem 0.5rem;
        font-size: 2.2rem;
        letter-spacing: 0.02rem;
    }   
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
        padding: 1.3rem 1.5rem;
    }
}