/*
COLORS:

Light purple: #b6afec   
Medium purple: #8982db
Dark purple: #4d40b2
Green: #d2e188
Cream: #fff8de

*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 1.7;
  color: #555;
  background-color: #fff;
  padding: 0; }

.heading-secondary {
  color: #37343b;
  font-family: 'Clicker Script', cursive;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 0.8rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase; }

.heading-tiny {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.paragraph {
  font-size: 1.8rem;
  margin: 0 auto;
  width: 70%; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.pricetag {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #fff; }

.price {
  font-size: 1.5rem;
  font-weight: 500; }

.card__title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase; }

.card__description {
  font-size: 1.2rem;
  line-height: 1.4; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-up {
  margin-top: -5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #4e4891;
  border: 1px solid #4e4891;
  color: #fff;
  margin-right: 1rem; }

.btn-outline:link,
.btn-outline:visited {
  border: 1px solid #4e4891;
  color: #4e4891; }

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #4e4891; }

.btn-full:hover,
.btn-full:active {
  border: 1px solid #4e4891; }

.btn-outline:hover,
.btn-outline:active {
  color: #fff;
  border: 1px solid #4e4891; }

.card {
  position: relative;
  display: inline-block;
  border-radius: 1px;
  padding: 1.5rem;
  background-color: #f3f1f7;
  color: #555;
  text-align: center;
  transition: transform 0.3s ease-in-out; }
  .card:not(:last-child) {
    margin-right: 2rem; }
  .card img {
    width: 100%;
    height: 8rem;
    margin: 1rem auto;
    object-fit: cover;
    object-position: top center;
    border: solid 2px #fff; }
  .card:hover {
    transform: translateY(-1rem) scale(1.2); }

.row {
  max-width: 100%; }

.gallery-item {
  position: relative;
  opacity: 0;
  transform: translateX(4rem);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer; }
  .gallery-item figcaption {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 85%;
    padding: 0.3rem 0.8rem;
    background: rgba(85, 85, 85, 0.8);
    transform: translateX(-120%);
    transition: all 0.4s ease-in-out; }
  .gallery-item img {
    transition: all 0.4s ease-in-out; }
  .gallery-item:hover figcaption {
    transform: translateX(0); }
  .gallery-item:hover img {
    transform: scale(1.1); }

.showing {
  opacity: 1;
  transform: translateX(0); }

.scope {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(../img/collection/0.jpg);
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #ededed; }

.row {
  max-width: 70rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row div[class*="col-"],
  .row figure[class*="col-"] {
    float: left; }
    .row div[class*="col-"] img,
    .row figure[class*="col-"] img {
      width: 100%; }
    .row div[class*="col-"]:not(:last-child),
    .row figure[class*="col-"]:not(:last-child) {
      margin-right: 2.5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2.5rem) / 3) + 2.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2.5rem) / 4) + 2.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2.5rem) / 4) + 2 * 2.5rem); }

.header {
  position: relative;
  height: 650px;
  overflow: hidden; }
  .header__logoBox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__back {
    position: absolute;
    bottom: -8rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, white, rgba(52, 48, 96, 0.1)), url(../img/back-lavender.png);
    background-position: 50% 100%; }
  .header__fore {
    position: absolute;
    bottom: -11rem;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url(../img/fore-lavender.png);
    background-position: 50% 100%; }

.nav__menu {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  padding: 1rem 6rem 1rem 3rem;
  z-index: 100;
  transition: all 0.2s ease-in-out; }
  .nav__menu li {
    list-style: none;
    display: inline-block; }
    .nav__menu li:not(:first-child) {
      margin-left: 3rem; }
    .nav__menu li a {
      text-decoration: none;
      color: #555;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.5rem;
      font-size: 1.6rem;
      text-transform: uppercase; }

.nav__sticky {
  background-color: rgba(243, 241, 247, 0.95);
  box-shadow: 1rem 0 0.1rem rgba(128, 128, 128, 0.2);
  border-bottom-left-radius: 5px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding: 3rem;
  background-color: #343060;
  color: #a4a0b1;
  font-size: 1.4rem;
  font-weight: 400; }
  .footer__help ul, .footer__social ul {
    list-style: none; }
    .footer__help ul a, .footer__social ul a {
      text-decoration: none;
      color: #a4a0b1;
      font-weight: 300; }
  .footer__signup {
    text-align: center; }
    .footer__signup .btn {
      margin: 1rem auto; }
  .footer__copyright {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    padding-top: 2rem; }

.content {
  position: relative;
  margin-bottom: 24rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.5); }

.section-about,
.section-new,
.section-collections {
  position: relative;
  padding: 5rem 20rem; }
  .section-about .btn,
  .section-new .btn,
  .section-collections .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.6rem; }

.section-about__heading {
  position: relative; }
  .section-about__heading h2 {
    display: inline-block;
    position: absolute;
    top: 0rem;
    left: 0; }

.section-collections {
  padding-bottom: 15rem; }
