

/*
COLORS:

Light purple: #b6afec   
Medium purple: #8982db
Dark purple: #4d40b2
Green: #d2e188
Cream: #fff8de

*/

$color-primary:#4e4891;
$color-primary-light:#b6afec ;
$color-primary-dark: #343060;
$color-white: #fff;
$color-gray: #555;
$color-gray-light: #f3f1f7;
$color-gray-medium:rgb(164, 160, 177);
$color-gray-dark:#37343b;


// GRID
$grid-width: 70rem;
$gutter-vertical: 1.5rem;
$gutter-horizontal: 2.5rem;